/* Global Layout Set-up*/


/*===============================================
    BASE ELEMENT STYLES
================================================*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: 'Roboto', sans-serif;
    width: auto;
}

h1 {
    text-align: center;
    background-color:  #36598a;
    color: #E0FFFF;
    margin: 0px;
    padding: 20px 0px;
}

.intro {
    text-align: center;
    background-color: #E0FFFF;  
    margin: 0px;
    padding: 5px 0px 5px 0px; 
    padding-bottom: 20px;
    border-bottom-style: double;
    border-color: #36598a;
    border-width: 8px;
}

h3 {
    margin: 20px 0px 10px 0px;
}

#zipcode {
    width:50%;
}

input:focus,
textarea:focus {
    border-color: #36598a;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 30px;
    border-style: none;
}

.contact, 
.title {
    font-size: 20px;
    font-weight: bold;
    
}

input[type="text"] ,
input[type="email"] ,
input[type="tel"] {
    padding: 2px 5px;
}

label, input {
    padding: 10px;
}

input[type="checkbox"] {
    margin: 0px 5px;
    vertical-align: middle;
}

input::placeholder {
    font-weight: 100;
    font-size: .8em;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
  }

hr {
    border-style: solid;
    border-width: 2px;
    border-color: #36598a;
}

h4 {
    margin-top: 20px;
}

input[type="radio"] {
    vertical-align: middle;
    margin: 0px 5px;
}

textarea {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

input[type="submit"] {
    text-align: center;
    border-radius: 5px;
    background-color: #36598a;
    color: #E0FFFF;
    font-size: 18px;
    padding: 10px;
    width: 100%;
}


footer {
    text-align: center;
    font-style: italic;
    font-weight: 100;
}


/*///////FLEX///////////*/

.con,
legend {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    margin:auto;

}


.select {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 350px;
}



/*//////MEDIA QUERIES////////////*/

@media (min-width:768px){
   form {
        margin: auto;
        width: 500px;
   }

   .con {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       width: 500px;
   }

   legend, 
   .select {
       display: flex;
       flex-direction: column;
       width: 500px;
       margin: auto;
   }

   #zipcode {
    width:25%;
    }

}   

