/* Global Layout Set-up*/


/*===============================================
    BASE ELEMENT STYLES
================================================*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    

}

h1 {
    text-align: center;
    background-color:  #36598a;
    color: #E0FFFF;
    margin: 0px;
    padding: 20px 0px;
}

h3, .latest_news {
    text-align: center;
    background-color: #E0FFFF;  
    margin: 0px;
    padding: 20px 0px 5px 0px; 
}

.latest_news {
    padding-top: 0px;
    padding-bottom: 20px;
    border-bottom-style: double;
    border-color: #36598a;
    border-width: 8px;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 30px;
    border-style: none;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

label {
    display: block;
    margin: 20px 0px 5px;
}

.select {
    border-top-style: solid;
    border-color: #36598a;
}
